.another-heading {
    color: purple;
}

.main-heading { 
    color: red; 
}



#heading {
    color: green;
}
        
h1 { 
    color: blue; 
}

p {
    color: yellow;
}

h1 > p::first-letter {
    color:red;
}

h1 p {

}